<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project.mapper.OrderMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.project.entity.Order">
        <id column="order_id" property="orderId" />
        <result column="order_status" property="orderStatus" />
        <result column="product_id" property="productId" />
        <result column="product_name" property="productName" />
        <result column="count" property="count" />
        <result column="unit_price" property="unitPrice" />
        <result column="order_amount" property="orderAmount" />
        <result column="member_id" property="memberId" />
        <result column="order_remark" property="orderRemark" />
        <result column="create_date" property="createDate" />
        <result column="pay_date" property="payDate" />
        <result column="modify_date" property="modifyDate" />
    </resultMap>

    <select id="findOrderDetail" resultType="java.util.HashMap">
        SELECT
            o.member_id,
            op.*
        FROM
            tl_order o,
            tl_order_payment op
        WHERE
            o.order_id = op.order_id
            AND o.order_status = #{status}
            AND o.order_id = #{orderId}
    </select>

</mapper>
